[submodule "MCAD"]
	path = MCAD
	url = https://github.com/elmom/MCAD.git
[submodule "Thingiverse-Projects"]
	path = Thingiverse-Projects
	url = https://github.com/syvwlch/Thingiverse-Projects.git
[submodule "Things"]
	path = Things
	url = git@github.com:digitalbytes/Things.git
